<div class="header-tab">
    <h1>Polyglotify</h1>
    <span class="fx-spacer"></span>
    <button mat-raised-button color="primary" class="login-button">Login/Register</button>
</div>
<h2>Learn a New Language, Anytime, Anywhere</h2>
<p>Hello User</p>
<p>
  Welcome to Polyglotify, your passport to mastering a new language! 
  Whether you're a beginner looking to start your language journey or an experienced learner 
  aiming to enhance your skills, our app is designed to meet your needs and propel you towards fluency.
</p>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Dashboard">
        <mat-card class="sample-card">
            <mat-card-header>
              <mat-card-title>Translation</mat-card-title>
              <mat-card-subtitle>Subtitle</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
          <br>
          <mat-card class="sample-card">
            <mat-card-header>
              <mat-card-title>Progress Chart</mat-card-title>
              <mat-card-subtitle>Subtitle</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
    </mat-tab>
    <mat-tab label="Courses">
        <mat-card class="sample-card">
            <mat-card-header>
              <mat-card-title>Tutorial 1</mat-card-title>
              <mat-card-subtitle>Subtitle</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
          <br>
          <mat-card class="sample-card">
            <mat-card-header>
              <mat-card-title>Tutorial 2</mat-card-title>
              <mat-card-subtitle>Subtitle</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
          <br>
           <mat-card class="sample-card">
            <mat-card-header>
              <mat-card-title>Tutorial 3</mat-card-title>
              <mat-card-subtitle>Subtitle</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
    </mat-tab>
    <mat-tab label="Quizes">
        <mat-card class="sample-card">
            <mat-card-header>
              <mat-card-title>Quiz 1</mat-card-title>
              <mat-card-subtitle>Subtitle</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
          <br>
          <mat-card class="sample-card">
            <mat-card-header>
              <mat-card-title>Quiz 2</mat-card-title>
              <mat-card-subtitle>Subtitle</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
          <br>
          <mat-card class="sample-card">
            <mat-card-header>
              <mat-card-title>Quiz 3</mat-card-title>
              <mat-card-subtitle>Subtitle</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
    </mat-tab>
  </mat-tab-group>
  

